.idea/
.vscode/
FitsnitchApp\android/.project
FitsnitchApp\android/.settings/
FitsnitchApp\android/app/
FitsnitchApp\android\app

FitsnitchApp\android\build/
FitsnitchApp\android\.idea
FitsnitchApp\android\.gradle
FitsnitchApp\android\local.properties
*.iml
*.hprof